.sidebar{
    display: flex;
    flex:1;
    background-color:#fff;
    height: calc(100vh);
    position: sticky;
    top: 0px;
    border-right: 1px solid #0F5F96;
    justify-content: center;
}

.sidebarMenu{
    margin-top:30px;
    width: 100%; 
}

.sidebarMenu .textField{
    color:  #0F5F96; 
}

.logo img{
    width:200px;
    margin-bottom:20px;
}

.sidebarList{
    margin-top: 15px;
}

.sidebarList nav div{
    color:#0F5F96;
    font-size: 1.2rem; 
    border-radius: 10px ;
}


.sidebarList nav div.active{
    background-color:#95E1D3;
}

ul .settings {
border-radius: 10px ;
}
ul .settings div{
    color:#0F5F96;
    font-size: 1.2rem;    
   
}


.profile{
     color:#0F5F96;
    font-size: 1.2rem; 
    border-radius: 10px ;
    width: 70%;
    position: absolute;
    bottom:30px;
}

.profileWrapper{
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #0F5F96; 
}

.userInfo{
    margin-left: 10px;
}

.userInfo p, .logout button{
    color:#0F5F96;
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', sans-serif;;
}
.profileWrapper .logout{
    margin-left: 15px;;
}